<div class="container">
	<div class="banner">
		<div class="photo">
			<%= image_tag "photo" %>
		</div>
		<div class="title">
		<h1>Fanny Maurel</h1>
			<h2>- portfolio -</h2>
		</div>
	</div>
	<div class="websites">
		<div class="website">
			<a href="https://auxvillageslarepublique.com/">
				<%= image_tag "auxvillages" %>
				<h3>Aux villages, la République</h3>
				<p>Blog politique</p>
			</a>
		</div>
			<div class="website">
			<a href="https://stos-tattoos-641bb01228b9.herokuapp.com/">
				<%= image_tag "stos" %>
				<h3>Stos tattoos</h3>
				<p>Tatoueur</p>
			</a>
		</div>
	</div>
</div>



